@model number_cruncher.Models.ExpenseViewModels.ExpensesViewModel
@{
    ViewData["Title"] = "Expense Page";
}

<h2>Expenses</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Expense
            </th>
            <th>
                Type
            </th>
            <th>
                Date Added
            </th>
            <th>
                Total
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Expenses.Count > 0)
        {
            foreach (var item in Model.Expenses)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpenseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpenseCategory.ExpenseType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>

                    </td>

                    <td>
                        <form asp-action="" asp-route-expenseId="@item.ExpenseId">
                            <input class="btn btn-info" type="submit" value="View Records" />
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td>Expenses Total</td>
            <td></td>
            <td></td>
            <td>$@Html.DisplayFor(modelItem => modelItem.ExpensesTotal)</td>
        </tr>
        <tr>
            <td>Mileage Total</td>
            <td></td>
            <td></td>
            <td>@Html.DisplayFor(modelItem => modelItem.MileageTotal) miles driven</td>
        </tr>
    </tfoot>
</table>
<div class="btn-toolbar">
    <form asp-action="Create" asp-controller="Expense">
        <input class="btn btn-success" type="submit" value="Create new expense" />
    </form>
</div>